name: Raspberry Pi SSH Demo

on: [push]

jobs:
  ssh-into-pi:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Connect to Raspberry Pi via SSH (password auth)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PI_HOST }}
          username: ${{ secrets.PI_USER }}
          password: ${{ secrets.PI_PASSWORD }}
          port: 22
          script: |
            echo "Connected to Raspberry Pi!"
            uname -a
            ls -al
