name: Raspberry Pi SSH Demo
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-deploy:
    runs-on: self-hosted   # Raspberry Pi self-hosted runner

    steps:
      ##################################################
      # 1. Checkout source code
      ##################################################
      - name: Checkout srepository
        uses: actions/checkout@v4


      ##################################################
      # 2. Enable cross-platform Docker building
      ##################################################
      - name: Enable QEMU (ARM virtualization)
        uses: docker/setup-qemu-action@v3

      - name: Enable Docker Buildx
        uses: docker/setup-buildx-action@v3


      ##################################################
      # 3. Build the Docker image for Raspberry Pi (ARM64)
      ##################################################
      - name: Build ARM64 Docker image for Bramj
        run: |
          docker build \
            --platform linux/arm64 \
            -t Raisberry_builder \
            .


      ##################################################
      # 4. Compile Raisberry inside the build container
      ##################################################
      - name: Compile Raisberry inside Docker container
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/work \
            Raisberry_builder \
            bash -c "
              cd /work
              echo 'Starting compilation'

              # Compile pigpio sources
              gcc -c pigpio/*.c -I/usr/include/pigpio

              # Create static library
              ar rcs libpigpio.a *.o

              # Build the final executable
              gcc main.c -L. -lpigpio -lpthread -o main

              echo ' Compilation complete '
            "
